.title {
  display: flex;
  justify-content: center;
}

.title > h1 {
  font-size: 1.5rem;
}

.ctaContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

a {
  text-decoration: none;
}
